<server description="OpenLiberty MicroProfile FlightService server">
    <featureManager>
        <feature>jpa-2.2</feature>
        <feature>jndi-1.0</feature>
        <!--        <feature>microProfile-4.0</feature>-->
        <!--TODO check needed features MicroProfile does not work with LRAs -->
        <feature>cdi-2.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jaxrsClient-2.1</feature>
        <feature>jsonb-1.0</feature>
        <feature>jsonp-1.1</feature>
        <feature>mpConfig-2.0</feature>
        <feature>mpFaultTolerance-3.0</feature>
        <feature>mpHealth-3.0</feature>
        <feature>mpJwt-1.2</feature>
        <feature>mpOpenAPI-2.0</feature>
        <feature>mpOpenTracing-2.0</feature>
        <feature>mpRestClient-2.0</feature>
        <feature>servlet-4.0</feature>

        <!--        <feature>microProfile-4.0</feature>-->
        <feature>eventLogging-1.0</feature>
        <feature>mpLRA-1.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="8082"/> <!--TODO keep? -->
    <variable name="default.https.port" defaultValue="9443"/> <!--TODO keep? -->

    <!-- Configure Logging -->
    <logging consoleLogLevel="${openLiberty.microprofile.logging.level}"
             consoleFormat="${openLiberty.microprofile.logging.format}"
             consoleSource="${openLiberty.microprofile.logging.console.source}"/>
    <logging traceSpecification="eclipselink.sql=all"/>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" host="*"/>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <webApplication id="FlightService"
                    location="FlightService-1.0-SNAPSHOT.war" contextRoot="/">
    </webApplication>

    <!-- Connect to LRA Coordinator -->
    <lra port="${lra.coordinator.port}" host="${lra.coordinator.host}" path="${lra.coordinator.path}"/>

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>

    <!-- Datasource Connector Location -->
    <library id="mySQLLib">
        <fileset dir="jdbc"
                 includes="mysql-connector-java-*.jar"/>
    </library>

    <!-- Datasource Configuration -->
    <dataSource id="microProfileFlightService"
                jndiName="jdbc/FlightService">
        <jdbcDriver libraryRef="mySQLLib"/>
        <properties user="${openLiberty.microprofile.username}"
                    password="${openLiberty.microprofile.password}"
                    URL="${openLiberty.microprofile.url}"/>
    </dataSource>

</server>